.popup {
    display: none; /* Ocultar por defecto */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none; /* Sin borde */
    background-color: #ffffff; /* Fondo oscuro */
    padding: 30px; /* Mayor espacio interior */
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Sombra más prominente */
    border-radius: 10px; /* Bordes redondeados */
}

.popup.active {
    display: block; /* Mostrar cuando se activa */
}

/* Estilo para campos de entrada */
.popup input[type="text"], .popup input[type="password"] {
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px; /* Espacio interior */
    margin: 10px 0; /* Margen entre campos */
    border: 1px solid #4CAF50; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo de campos de entrada oscuro */
    color: #000000; /* Texto blanco */
}

/* Estilo para el botón de login */
.popup button {
    background-color: #4CAF50; /* Fondo verde */
    color: #FFFFFF; /* Texto blanco */
    padding: 10px 20px; /* Espacio interior */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    margin-bottom: 10px;
}

/* Efecto hover para el botón */
.popup button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}